<div class="banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/b1.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/b2.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/b3.jpg" class="w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="fw-bold fst-italic" style="color: #383838;">Tìm Kiếm Phòng</h2>
        </div>
        <div class="col-lg-3 col-md-6 mt-3">
            <div class="mb-3">
                <label class="form-label fw-semibold" style="color: #383838;">Ngày đến</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-3">
            <div class="mb-3">
                <label class="form-label fw-semibold" style="color: #383838;">Ngày trả</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mt-3">
            <div class="mb-3">
                <label class="form-label fw-semibold" style="color: #383838;">Trẻ em</label>
                <select class="form-select">
                    <option selected>Chọn số người</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mt-3">
            <div class="mb-3">
                <label class="form-label fw-semibold" style="color: #383838;">Người lớn</label>
                <select class="form-select">
                    <option selected>Chọn số người</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <button type="button" class="btn btn-primary mt-5">Tìm Kiếm Phòng</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="fw-bold fst-italic" style="color: #383838;">Ưu Đãi</h2>
            <p style="color: #808080;">Khuyến mãi, giảm giá và ưu đãi đặc biệt dành riêng cho bạn</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/11.jpeg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-4">Đổi gió một thời gian</h5>
                    <p class="card-text">Tận hưởng sự tự do với kỳ nghỉ theo tháng trên Booking.com</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    <button type="button" class="btn btn-primary mt-2">Khám phá kỳ nghỉ theo tháng</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/22.jpeg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-4">Năm mới hành trình mới</h5>
                    <p class="card-text">Tiết kiệm từ 15% khi đặt và lưu trú trước 31/3/2023</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    <button type="button" class="btn btn-primary mt-2">Tìm ưu đãi đầu năm 2023</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="fw-bold fst-italic" style="color: #383838;">Thực đơn mỗi ngày</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/33.jpg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-4 fs-2">Thứ 2 free</h5>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/44.jpg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-4 fs-2">Thứ 3 free</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/55.jpg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-3 fs-3">Thứ 4 free</h5>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/66.jpg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-3 fs-3">Thứ 5 free</h5>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-bg-dark" style="border: none;">
                <img src="img/77.jpg" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title fw-bold mt-2 mt-3 fs-3">Thứ 6 free</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Trước</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Sau</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <h2 class="fw-bold fst-italic mb-3" style="color: #383838;">Loại Phòng</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card" style="border: none;">
                        <img src="img/l1.jpg" alt="...">
                        <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                        <p style="color: #808080;">22 rooms</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: none;">
                        <img src="img/l2.jpg" alt="...">
                        <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                        <p style="color: #808080;">22 rooms</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: none;">
                        <img src="img/l3.jpg" alt="...">
                        <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                        <p style="color: #808080;">22 rooms</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="border: none;">
                        <img src="img/l4.jpg" alt="...">
                        <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                        <p style="color: #808080;">22 rooms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" style="color: #383838">
        <div class="col-lg-12">
            <h2 class="fw-bold fst-italic mb-3">Phong cách hiện đại-sang trọng</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r1.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r2.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r3.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r4.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r5.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="border: none;">
                <img src="img/r6.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3">
            <div class="card" style="border: none;">
                <img src="img/r7.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="border: none;">
                <img src="img/r8.jpg" alt="...">
                <h5 class="card-title fw-semibold mt-2" style="color: #383838">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="border: none;">
                <img src="img/r9.jpg" alt="..." style="color: #383838">
                <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="border: none;">
                <img src="img/r10.jpg" alt="..." style="color: #383838">
                <h5 class="card-title fw-semibold mt-2">Resorts</h5>
                <a href="#!/room" class="link-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Trước</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Sau</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-5">
            <img src="img/13561825_5267443.jpg" alt="" width="100%">
        </div>
    </div><br><br>
</div>